{% extends "base/base.html" %}

{% block title %}

{% endblock %}


{% block menu %}



{% endblock %}

{% block content %}
<div class="col-sm-6 col-md-4 col-lg-3"><img class="img-rounded" style="width: 190px" src= "{{MEDIA_URL}}source/k2.png"/></div>
<div class="col-sm-6 col-md-4 col-lg-3"><img class="img-rounded" style="width: 190px" src= "{{MEDIA_URL}}source/k3.png"/></div>
<div class="col-sm-6 col-md-4 col-lg-3"><img class="img-rounded" style="width: 190px" src= "{{MEDIA_URL}}source/k4.png"/></div>
<div class="col-sm-6 col-md-4 col-lg-3"><img class="img-rounded" style="width: 190px" src= "{{MEDIA_URL}}source/k1.png"/></div>
<br />
{% endblock %}
