{% extends "base/base.html" %}

{% block title %}
以前人地整過
{% endblock %}
{% block content %}

{% for item in items %}
    <li><a href="/html/{{ item.id }}/">{{ item.projectname }}</a></li>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block foot %}
<a href="{% url 'newproject' %}">唔啱自己又做呀笨！</a>
{% endblock %}